.footer-section{
    background: $primary-color;
    .footer-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding-bottom: 20px;

        .footer-content{
            display: flex;
            gap: 22px;
            span{
                font-family: $body-font;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: $white;
            }
        }
    }
    .footer-widget{
        .footer-widget-title{
                font-family: $body-font;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                color: $white;
                margin: 60px 0 25px;
            }
        .footer-widget-info{
            p{
                font-family: $body-font;
                font-size: 16px;
                font-weight: 400;
                line-height: 26px;
                color: #A2AFAF;
                margin: 0;
            }
            h5{
                font-family: $body-font;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                color: $white;
                margin: 26px 0 23px;
            }
            ul{
                li{
                    display: inline-block;
                    margin-right: 30px;
                    a{
                        i{
                            color: $white;
                            font-size: 18px;
                            transition: .5s;
                        }
                        &:hover{
                           i{
                            color: $secondary-color;
                           }
                        }
                    }
                }
            }
            .email{
                color: $white;
                &:hover{
                    color: $secondary-color;
                }
            }
            .footer-link{
                li{
                    a{
                        display: block;
                        color:#A9A9A9;
                        font-family: $body-font;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        transition: .5s;
                        margin-bottom: 18px;
                        &:nth-last-child(1){
                            margin-bottom: 0;
                        }
                        &:hover{
                            color: $secondary-color;
                        }
                    }
                }
            }

            .form-container {

            }
            
            .input-group {
                display: flex;
                align-items: center;
                background-color: $primary-color;
                border-bottom: 1px solid $primary4-color;
                margin-bottom: 15px;
                padding-bottom: 18px;
                margin-top: 48px;

                button{
                    background: transparent;
                    i{
                        color: $secondary-color;
                        font-size: 17px;
                    }
                }
            
                input {
                    flex: 1;
                    background: none;
                    border: none;
                    outline: none;
                    color: $primary4-color;
                    padding: 0 10px;
                    font-family: $body-font;
                    font-size: 17px;
                    font-weight: 400;
                    line-height: 26px;
                    &::placeholder {
                        color: $text-color;
                        opacity: 0.8;
                    }
                }
            
                .icon {
                    width: 16px;
                    height: 16px;
            
                    &:last-child {
                        margin-left: auto;
                        cursor: pointer;
                    }
                }
            }
            
            .checkbox-group {
                display: flex;
                align-items: center;
            
                input[type="checkbox"] {
                    margin-right: 8px;
                    background: transparent !important;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                }
            
                label {
                    font-family: $body-font;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 26px;
                    color: $primary4-color;
                }
            }
        }
    }

    .footer-bottom-area{
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 16px;
        margin-top: 40px;
        p{
            text-align: center;
            font-family: $body-font;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            color: $primary4-color;
            a{
                color: $white;
                &:hover{
                    color: $btn-color;
                }
            }
        }
    }
}







